/* ./your-css-folder/styles.css */
@tailwind base;
@tailwind components;
.input {
    @apply appearance-none block w-full bg-gray-200 text-gray-800 border border-gray-200 rounded py-3 px-4 leading-tight;
}

.input:focus {
    @apply outline-none bg-white border-gray-300;
}

.label {
    @apply block uppercase tracking-wide text-gray-800 text-xs font-bold mb-2;
}

.select {
    @apply appearance-none py-3 px-4 pr-8 block w-full bg-gray-200 border border-gray-200 text-gray-800
   rounded leading-tight;
    -webkit-appearance: none;
}

.select:focus {
    @apply outline-none bg-white border-gray-300;
}

.link {
    @apply no-underline;
}

.link-gray {
    @apply text-gray-800;
}

.link-gray:hover {
    @apply text-gray-800;
}
@tailwind utilities;
