<template>
  <div class="home">
    <HelloWorld
      msg="Welcome to Your Vue.js App tailwindcss"
      class="font-bold text-2xl text-emerald-600"
    />
  </div>
</template>

<script>
// @ is an alias to /src
import HelloWorld from "@/components/HelloWorld.vue";

export default {
  name: "Home",
  components: {
    HelloWorld,
  },
};
</script>
