<template>
  <div class="max-w-sm m-auto my-8">
    <div class="border p-10 border-gray-200 shadow rounded">
      <h3 class="text-2xl mb-6 text-gray-800">Sign up</h3>
      <form @submit.prevent="signin">
        <div class="text-red-500" v-if="error">{{ error }}</div>
        <div class="mb-6">
            <label for="email" class="label">E-mail Address</label>
            <input for="email" v-model="email" class="input" id="email" placeholder="chris@deltec.com">E-mail Address</input>
        </div>
        <div class="mb-6">
            <label for="password" class="label">Password</label>
            <input for="password" v-model="password" class="input" id="password">
        </div>
        <div class="mb-6">
            <label for="password" class="label">Password Confirmation</label>
            <input for="password" v-model="password_confirmation" class="input" id="password_confirmation">
        </div>
        <button class="font-sans 
                       font-bold 
                       px-4 rounded 
                       cursor-pointer 
                       no-underline 
                       bg-green-500 
                       hover:bg-green-800 
                       block w-full 
                       p-4 
                       text-white 
                       items-center 
                       justify-center">
          Sign Up
        </button>

        <div class="my-4">
          <router-link to="/signup" class="link">Sign In</router-link>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  name: "Signup",
  data() {
    return {
      email: "",
      password: "",
      password_confirmation: "",
      error: "",
    };
  },
  created() {
    this.checkSignedIn();
  },
  updated() {
    this.checkSignedIn();
  },
  methods: {
    signin() {
      this.$http.plain
        .post("/signup", {
          email: this.email,
          password: this.password,
          password_confirmation: this.password_confirmation,
        })
        .then((response) => this.signinSuccesful(response))
        .catch((error) => this.signinFailed(error));
    },
    signinSuccesful(response) {
      if (!response.data.csrf) {
        this.signinFailed(response);
        return;
      }

      localStorage.csrf = response.data.csrf;
      localStorage.signedInt = true;
      this.error = "";
      this.$router.replace("/records");
    },
    signinFailed(error) {
      this.error =
        (error.response && error.response.data && error.response.data.error) ||
        "Somethin went wrong";
      delete localStorage.csrf;
      delete localStorage.signedIn;
    },
    checkSignedIn() {
      if (localStorage.signedIn) {
        this.$router.replece("/records");
      }
    },
  },
};
</script>
